{% extends 'base.html' %}

{% load static %}

{% block div %}

<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

<div class="scrollable">
    <!-- 중국집 -->
    <h1>중국집</h1>
    <div class="row">
        {% for f in food %}
        <div class="col-sm-6 col-md-4 mb-4">
            <div class="card">
                <a href="{% url 'Chinese:index_detail' pk=f.id %}">
                    <img src="{{ f.image_url }}" class="card-img-top food-image" alt="{{ f.name }}">
                    <div class="card-body row">
                        <h5 class="card-title">{{ f.name }}</h5>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Blog -->
    <h1>Blog</h1>

    <div class="row">
        {% for b in blog %}
        <h3>{{ b.title }}</h3>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{b.title |truncatechars:13}}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{b.content|truncatechars:20}}</h6>
                <a href="{% url 'blog:post_detail' b.slug %}" class="card-link">Detail link</a>
            </div>
        </div>
        {% endfor %}
    </div>



    <div class="row" style="margin-top: 50px;">
        <h1>Bookmark List</h1>
        <br>
        <ul class="list-group ">
            {% for mark in bookmark %}
            <li class="list-group-item"><a href="{% url 'bookmark:detail' mark.id %}">{{ mark.title }}</a></li>
            {% endfor %}
        </ul>
    </div>

    {% for item in album %}
    <div class="mt-5">
        <h1>사진첩</h1>
        <a class="h4" href="{% url 'photo:album_detail' item.id %}">
            {{ item.name }}</a><br><br>
        <span class="font-italic h5">{{ item.description }}</span>
    </div>

    <hr style="margin: 0 0 20px 0;">

    <div class="row">
        {% for photo in item.photo_set.all|slice:":4" %}
        <div class="ml-5 col-sm-3">
            <div class="thumbnail">
                <a href="{{ photo.get_absolute_url }}">

                    {# <a href="{% url 'photo:photo_detail' photo.id"> #}
                        <img src="{{ photo.image.thumb_url }}" style="width: 100%;">
                    </a>
            </div>
        </div>
        {% endfor %}
    </div>

    {% endfor %}

</div>
{% endblock %}